@import './base.css';

#app {
  background-image: url(../assets/feher_hatter.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
  max-width: 1280px;
  text-align: center;
}
